
04_Implement/Source_Code/Football_League_Manager/\.vs/Football_League_Manager/v15/

04_Implement/Source_Code/Football_League_Manager/Football_League_Manager/obj/Debug/Football_League_Manager\.csproj\.CoreCompileInputs\.cache

*.cache
